# Module 1: Introduction to Python

## 1.1 Elementary Data Types

In [1]:
x = 4    # integer
print(x,type(x))

y = True   # boolean (True, False)
print(y, type(y))

z = 3.7    # floatint point
print(z, type(z))

s = "This is a string"  # string
print(s, type(s))

4 <class 'int'>
True <class 'bool'>
3.7 <class 'float'>
This is a string <class 'str'>

In [3]:
x = 4             # integer
x1 = x + 4        # addition
x2 = x * 3        # multiplication
x += 2            # equicalent to x = x + 2
x3 = x
x *= 3            # equivalent to x = x * 3
x4 = x
x5 = x % 4        # modulo (remainder) operator

z = 3.7           # floating point number
z1 = z - 2        # substraction
z2 = z / 3        # division
z3 = z // 3       # integer division
z4 = z ** 2       # square of z
z5 = z4 ** 0.5    # square root
z6 = pow (z,2)    # equivalent to square of z
z7 = round(z)     # rounding z to its nearest integer
z8 = int(z)       # type casting float to int

print(x,x1,x2,x3,x4,x5)
print(z,z1,z2,z3,z4)
print(z5,z6,z7,z8)

18 8 12 6 18 2
3.7 1.7000000000000002 1.2333333333333334 1.0 13.690000000000001
3.7 13.690000000000001 4 3

In [11]:
import math

x = 4
print(math.sqrt(x))           # sqrt(4) = 2
print(math.pow(x,2))          # 4 ** 2 = 16
print(math.exp(x))            # exp(4) = 54.6
print(math.log(x,2))          # log based 2 (default is natural logarithm)
print(math.fabs(-4))          # absolut value
print(math.factorial(x))      # 4! = 4 * 3 * 2 * 1 =24

z = 1.2
print(math.ceil(z))           # ceiling function
print(math.floor(z))          # floor function
print(math.tanh(1))           # truncate function

z = 3 * math.pi               # math.pi = 3.1415926
print(math.sin(z))            # sine function
print(math.tanh(z))           # arctan function

x = math.nan                  # not a number
print(math.isnan(x))          

x = math.inf                  # infinity
print(math.isinf(x))

2.0
16.0
54.598150033144236
2.0
4.0
24
2
1
0.7615941559557649
3.6739403974420594e-16
0.9999999869751758
True
True

In [16]:
y1 = True
y2 = False

print(y1 and y2)            # logical AND
print(y1 or y2)             # logical OR
print(y1 and not y2)        # logical NOT

False
True
True

In [17]:
s1 = "This"

print(s1[1:])

his

In [18]:
print(len(s1))

4

In [20]:
print("Length of string is " + str(len(s1)))

Length of string is 4

In [22]:
print(s1.upper())
print(s1.lower())

THIS
this

In [34]:
s2 = "This is a string "

In [35]:
words = s2.split(" ")

In [36]:
words

['This', 'is', 'a', 'string', '']

In [38]:
print(words[0])

This

In [39]:
print(s2.replace("a","another"))

This is another string

In [43]:
print(s2.find("r"))

12

In [44]:
print(s1 in s2)

True

In [45]:
print(s1 == "This")

True

In [46]:
print(s1 < 'That')

False

In [47]:
print(s2 + "too")

This is a string too

In [49]:
print((s1 + " ")* 3)

This This This

## 1.2 Compound Data Types

In [24]:
intlist = [1,3,5,7,9]

In [25]:
print(type(intlist))
print(intlist)

<class 'list'>
[1, 3, 5, 7, 9]

In [26]:
intlist2=list(range(1,10,2))
print(intlist2)

[1, 3, 5, 7, 9]

In [27]:
print(intlist[2])

5

In [28]:
print(intlist[:2])

[1, 3]

In [29]:
print(intlist[2:])

[5, 7, 9]

In [30]:
print(len(intlist))

5

In [31]:
print(sum(intlist))

25

In [32]:
intlist.append(11)
intlist

[1, 3, 5, 7, 9, 11]

In [33]:
print(intlist.pop())

11

In [34]:
print(intlist)

[1, 3, 5, 7, 9]

In [35]:
print(intlist+[11,13,15])

[1, 3, 5, 7, 9, 11, 13, 15]

In [37]:
print(intlist*3)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [38]:
intlist.insert(2,4)

In [39]:
print(intlist)

[1, 3, 4, 5, 7, 9]

In [40]:
intlist.sort(reverse=True)

In [41]:
intlist

[9, 7, 5, 4, 3, 1]

In [42]:
intlist.sort(reverse=False)

In [43]:
intlist

[1, 3, 4, 5, 7, 9]

In [64]:
mylist=["this","is","a","list"]

In [65]:
print(mylist)

['this', 'is', 'a', 'list']

In [66]:
print(type(mylist))

<class 'list'>

In [67]:
print("list" in mylist)

True

In [68]:
print(mylist[2])

a

In [69]:
print(mylist[:2])

['this', 'is']

In [70]:
print(mylist[2:])

['a', 'list']

In [71]:
mylist.append("too")

In [72]:
mylist

['this', 'is', 'a', 'list', 'too']

In [74]:
separator = " "
print(separator.join(mylist))

this is a list too

In [75]:
mylist.remove("is")
print(mylist)

['this', 'a', 'list', 'too']

### The following examples show how to create and manipulate a dictionary object

In [76]:
abbrev = {}

In [77]:
abbrev["MI"] = "michigan"

In [78]:
abbrev["MN"] = "minnesota"

In [79]:
abbrev["TX"] = "texas"

In [80]:
abbrev["CA"] = "california"

In [82]:
print(abbrev)

{'MI': 'michigan', 'MN': 'minnesota', 'TX': 'texas', 'CA': 'california'}

In [97]:
abbrev1={"MI":"Michigan","MN":"Minnesota","TX":"Texas","CA":"California"}

In [98]:
abbrev1

{'MI': 'Michigan', 'MN': 'Minnesota', 'TX': 'Texas', 'CA': 'California'}

In [99]:
abbrev1["MI"]

'Michigan'

In [101]:
print(abbrev.keys())
print(abbrev1.keys())

dict_keys(['MI', 'MN', 'TX', 'CA'])
dict_keys(['MI', 'MN', 'TX', 'CA'])

In [103]:
print(abbrev1.values())

dict_values(['Michigan', 'Minnesota', 'Texas', 'California'])

In [105]:
print(len(abbrev))
print(len(abbrev1))

4
4

In [106]:
print(abbrev.get("MI"))

michigan

In [107]:
print("FL"in abbrev)

False

In [108]:
print("CA"in abbrev)

True

In [109]:
keys = ['apple','orange','bananas','cherries']

In [110]:
values = [3,4,2,10]

In [111]:
fruits = dict(zip(keys,values))

In [112]:
print(fruits)

{'apple': 3, 'orange': 4, 'bananas': 2, 'cherries': 10}

In [113]:
print(sorted(fruits))

['apple', 'bananas', 'cherries', 'orange']

In [114]:
from operator import itemgetter

In [119]:
print(sorted(fruits.items(),key=itemgetter(0)))

[('apple', 3), ('bananas', 2), ('cherries', 10), ('orange', 4)]

In [120]:
print(sorted(fruits.items(),key=itemgetter(1)))

[('bananas', 2), ('apple', 3), ('orange', 4), ('cherries', 10)]

In [121]:
mituple=("mi","michigan","lansing")

In [122]:
catuple=("ca","california","sacramento")

In [123]:
txtuple=("tx","texas","austin")

In [124]:
print(mituple)

('mi', 'michigan', 'lansing')

In [125]:
print(mituple[1:])

('michigan', 'lansing')

In [127]:
states = [mituple,catuple,txtuple]

In [128]:
print(states)

[('mi', 'michigan', 'lansing'), ('ca', 'california', 'sacramento'), ('tx', 'texas', 'austin')]

In [129]:
print(states[2])

('tx', 'texas', 'austin')

In [130]:
print(states[2][:])

('tx', 'texas', 'austin')

In [131]:
print(states[2][1:])

('texas', 'austin')

In [132]:
states.sort(key=lambda state:state[2])

In [133]:
print(states)

[('tx', 'texas', 'austin'), ('mi', 'michigan', 'lansing'), ('ca', 'california', 'sacramento')]

# 1.3 Contro FLow Statements

In [1]:
x =10

In [4]:
if x % 2 == 0:
    print("x=",x,"is even")
else:
    print("x=",x,"is odd")

x= 10 is even

In [6]:
if x > 0:
    print("x=",x,"is positive")
elif x<0:
    print("x=",x,"is negative")
else:
    pring("x=",x,"is neither positive nor negative")

x= 10 is positive

In [7]:
mylist = ["this","is","a","list"]

In [8]:
for word in mylist:
    print(word.replace("is","at"))

that
at
a
latt

In [9]:
mylist2 = [len(word)for word in mylist]
print(mylist2)

[4, 2, 1, 4]

In [10]:
word

'list'

In [11]:
states=[("MI","MIchigan","Lansing"),("CA","California","Sacramento"),("TX","Texas","Austin")]

In [17]:
sorted_capitals = [state[2] for state in states]

In [18]:
sorted_capitals

['Lansing', 'Sacramento', 'Austin']

In [20]:
sorted_capitals.sort()

In [22]:
print(sorted_capitals)

['Austin', 'Lansing', 'Sacramento']

In [23]:
fruits = {"apples":3,"oranges":4,"bananas":2,"cherries":10}

In [28]:
fruitnames=[k for (k,v) in fruits.items()]

In [29]:
fruitnames

['apples', 'oranges', 'bananas', 'cherries']

In [30]:
fruitnames=[k for (k,v) in fruits.items()]
fruitnames

['apples', 'oranges', 'bananas', 'cherries']

In [31]:
print(fruitnames)

['apples', 'oranges', 'bananas', 'cherries']

In [32]:
fruitnames.sort()

In [33]:
fruitnames

['apples', 'bananas', 'cherries', 'oranges']

In [41]:
mylist = list(range(-10,10))
print(mylist)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
i = 0
while (mylist[i]<0):
    i=i+1
print("first non-negative number:",mylist[i])

first non-negative number: 0

## 1.4 User-Defined Functions

In [43]:
myfunc = lambda x:3*x*2-2*x+3
print(myfunc(2))

11

In [44]:
import math

In [50]:
def discard(inlist ,sortFlag=False):
    outlist=[]
    for item in inlist:
        if not math.isnan(item):
            outlist.append(item)
    if sortFlag:
        outlist.sort()
    return outlist

In [51]:
mylist =[12,math.nan,23,-11,45,math.nan,71]

In [52]:
print(discard(mylist,True))

[-11, 12, 23, 45, 71]

## 1.5 File I/O

In [64]:
states=[("MI","MIchigan","Lansing"),("CA","California","Sacramento"),("TX","Texas","Austin"),("MN","Minnesota","St Paul")]

In [65]:
with open("states.txt","w") as f:
    f.write("\n".join('%s,%s,%s'% state for state in states))

In [68]:
with open("states.txt","r") as f:
    for line in f:
        fields = line.split(sep=',')
        print("state=",fields[1],'(',fields[0],")","Capital:",fields[2])

state= MIchigan ( MI ) Capital: Lansing

state= California ( CA ) Capital: Sacramento

state= Texas ( TX ) Capital: Austin

state= Minnesota ( MN ) Capital: St Paul

In [69]:
fields

['MN', 'Minnesota', 'St Paul']

In [70]:
line

'MN,Minnesota,St Paul'

In [71]:
f

In [72]:
print(f)

<_io.TextIOWrapper name='states.txt' mode='r' encoding='cp936'>